/* Seccion de inicio*/

h1 {font-family: 'Russo One', sans-serif;
	font-size: 50px;
	font-style: normal;
	color: white;
	text-align: initial;
}

body {color: black;
	background-image: url(../images/airplane.jpg);
}
.Contenedor {
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;
}
.verdetalles {
  margin-bottom: 1.5rem;
  text-align: center;
}
.col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.contenedorportada{
	width: 100%;
	height: 400px;
	background-image: url(../images/portada1.jpg);
	background-size: 100%;
	animation: movcontenedor 10s infinite alternate;
}
@keyframes movcontenedor{
			from{
				background-position: bottom left;
			}
			to{
				background-position: top right;
			}
}
.contenedordetalle {
	width: 100%;
	max-width: 500px;
	position: relative;
	color: white;
	top: 50px;
	left: 20px;
}
.contenedordetalle2 button{
	padding: 10px 20px;
	font-size: 15px;
	background: none;
	border-style: none;
	border: 1px solid white;
	color: white;
	margin-top: 20px;

}
header nav .encabezado {
  display:grid;
 	grid-template-columns: repeat(9, 1fr);
  list-style: none;
  justify-content: center;
  padding: 40px;
  font-size: 1.2rem;
}
.encabezado li a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.encabezado li a:hover {
  background-color: white;
  color: lightblue;
  padding: 20px;
}
table {
	border: solid 3px transparent;
	background-color: transparent;
	color: black;
}
.contenedor2 {
	display: grid;
	align-items: center;
	justify-content: center;
}
nav{font-weight: bold;
	color: darkblue;
}
h2{
	font-size: 30px;
	color: darkblue;
	text-align: center;
	}

h3{
	font-style: oblique;
	color: darkblue;
	}
.titulooferta:hover {
	transition: 2s;
	font-size: 25px;
	text-align: center;
}
.titulooferta{
	font-weight: bolder;
	color: darkred;
	font-style: oblique; 
	font-size: 20px;
	text-align: center;
	}
.loremoferta{
	text-align: center;
	font-weight: bolder;
}
.clasereserva{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 30px;
	color: orange;

}
.textoreserva {
	text-align: center;
	color: darkblue;
	font-weight: normal;
	font-size: 17px;
}
.fechas{
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bold;
	color: midnightblue;
	justify-content: center;
	text-align: center;
}